* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.header {
    display: flex;
    padding: 20px 200px;

    justify-content: space-between;
    align-items: center;
    background: #F0F6FF;
    gap: 8px;
}

.header-img-div {
    width: 133px;
    height: 24px;
    background: url(indexImages/logo.png) no-repeat center;
}

.login-button {
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 128px;
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.button {
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.section1.num1 {
    display: flex;
    padding: 70px 360px 0px 360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #F0F6FF;
    overflow: hidden;
}

.section-num1-imgdiv {
    width: 1118px;
    height: 659px;
}

.subject {
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    width: 708px;
    height: 160px;
    min-width: max-content;
}



.num1-span {
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-button {
    width: 350px;
    padding: 16px 20px;
    text-align: center;
    border-radius: 8px;
}

.section-num1-imgdiv {
    width: 1200px;
    height: 590px;
    padding: 50px 41px 0;
    overflow: hidden;
    position: relative;
}



.num1-imgdiv {
    width: 1118px;
    height: 659px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
border-radius: 15px;
background: #F0F6FF;
}

.gradient-div {
    position: absolute;
    width: 1118px;
    height: 230px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    opacity: 0.2;
    width: 1118px;
    height: 230px;
    bottom: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);

}

.section {
    height: 620px;

    padding: 50px 461px;
    display: flex;
    gap: 120px;
    align-items: center;
}


.num2{padding:120px 461px 50px; 
    display: flex;
    justify-content: center;align-items: center;
gap: 157px;    
}
.font2 {
    clear: both;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
}

.font2 span {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.num2-subject{width: 291px;
    min-width: max-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;}

.num2-imgdiv{
    width: 550px;
    height: 450px;
    background-color: #F0F6FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    flex-shrink: 0;border-radius: 15px;

 
}
.num2-imgdiv>div{display: flex;justify-content: space-between;}

.num2-img.img1 {
    background: url(indexImages/3.png) no-repeat center;
    width: 279px;
    height: 275px;
    background-size: cover;
}
.num2-img.img2 {
    background: url(indexImages/4.png) no-repeat center;
    background-size:  279px 275px;
    width: 279px;
    height: 275px;
    position: relative;margin: 0 -14px;
}
.num2-img.img3 {
    background: url(indexImages/2.png) no-repeat center;
    width: 279px;
    height: 275px;
    background-size: cover;z-index: 1;
}
.num2-border{position: absolute;
    top: 13px;
    left: 17px;
    width: 245px;
    height: 242px;
    border-radius: 11px;
    border: 2px solid var(--linkbrary-primary-color, #6D6AFE);}
    .absolute-icon{right: 0;
        bottom: 0;
        width: 46px;
        height: 46px;
        z-index: -1;
        position: absolute;
        z-index: 2;
        border-radius: 22px;}